extends layout

block content
  h1 Contact    
  p This service is provided by the 
    a(href='https://wcm.ucalgary.ca/non-invasive-neurostimulation-network/') N3 research group 
    | at the 
    a(href='https://www.ucalgary.ca') University of Calgary. 
  
  p To have a study added to the database or for other inquiries, contact us at n3research [at] ucalgary [dot] ca.  

